.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  width: 100%;
  padding-top: 20px;
}
.topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start of the main axis */
  max-width: 800px;
  width: 100%; /* Ensure the container takes full width */
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
.column {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%; /* Set width for two columns layout */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
