.post-box-container {
  background-color: #EAE7F8;
  border-radius: 5px;
  width: 370px;
  border: 1px solid #EAE7F8;
}
.post-box h3 {
  color: #333;
  padding-left: 10px;
  text-align: left;
}
.post-info {
  display: flex;
  justify-content: space-between;
}
.post-box p {
  color: #666;
  text-align: left;
  padding-left: 10px;
}
.post-date {
  margin-right: 20px;
}
.scrollable-paragraph {
  height: 150px;
  overflow-y: auto; /* This will add a vertical scrollbar if the content overflows */
  text-align: left;
}

@media (max-width: 768px) {
  .post-box {
    width: 300px
  }
  .scrollable-paragraph {
    height: 100px;
  }
}
