.post-box-container {
  background-color: #EAE7F8;
  border-radius: 5px;
  width: 360px;
  border: 1px solid #EAE7F8;
  padding: 10px;
  cursor: pointer;
}
.post-box-container h3 {
  color: #333;
  font-weight: bold;
}
.post-info {
  display: flex;
  justify-content: space-between;
}
.post-box p {
  color: #666;
  text-align: left;
}
.post-date {
  margin-right: 20px;
}
.scrollable-paragraph {
  height: 150px;
  overflow-y: auto; /* This will add a vertical scrollbar if the content overflows */
  text-align: left;
}

@media screen and (max-width: 768px) {
  .post-box-container {
    width: 320px;
  }

  .scrollable-paragraph {
    height: 100px;
  }
}
