<div class="toolbar" [@slideInOut]="isMobile ? (isToggled ? 'in' : 'out') : 'in'">
  <img class="logo" src="/assets/logo_p6.png" alt="Banner Image">
  <div class="menu-container">
    <ul class="menu">
      <li><a href="#articles">Articles</a></li>
      <li><a href="#themes">Themes</a></li>
    </ul>
    <a [routerLink]="['/user']">
      <img class="profile-icon" src="/assets/user-profile.jpg" alt="Profile">
    </a>
  </div>
</div>
@if (isMobile){
  <div class="toggle-icon" (click)="toggleToolbar()">
    @if(!isToggled){
      <span>☰</span>
    } @else {
      <span>×</span>
    }
  </div>
}
