<auth-header></auth-header>
<div class="container">
  <img class="image" src="/assets/logo_p6.png" alt="">
  <div>
    <h2>Se connecter</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group">
        <label for="useremail">Adresse e-mail</label>
        <input matInput formControlName="email"
               id="useremail">
      </div>
      <div class="input-group">
        <label for="userpassword">Mot de passe</label>
        <input matInput type="password"
               formControlName="password"
               id="userpassword">
      </div>
      <div class="submit-button">
        <p *ngIf="onError" class="error">An error occurred</p>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
      </div>
    </form>
  </div>
</div>
