<div class="wrapper-content">
  <h2>User profile</h2>
  <form [formGroup]="form" (ngSubmit)="updateUserProfile()">
    <div class="form-class">
      <div class="form-group">
        <input formControlName="name" placeholder="New Username">
        <p *ngIf="nameValidationMessage" class="error-validation">
          {{ nameValidationMessage}}
        </p>
      </div>
      <div class="form-group">
        <input formControlName="email" placeholder="New Email address">
        <p *ngIf="emailValidationMessage" class="error-validation">
          {{ emailValidationMessage }}
        </p>
      </div>
      <div class="submit-button">
        <p *ngIf="onError" class="error">An error occurred</p>
        <button mat-flat-button color="primary" type="submit" [disabled]="isUpdateButtonDisabled()">Update user details</button>
      </div>
    </div>
  </form>
  <div class="logout">
    <a (click)="logout()">Logout</a>
  </div>
  <div class="horizontal-line"></div>
  <h1 class="subscription-label">Subscriptions</h1>
  @if(this.onErrorFetchingSubscriptions){
    <p class="error">An error occurred when trying to retrieve subscriptions...</p>
  } @else if (!this.hasSubscriptions){
    <p >No subscription available...</p>
  }
  @else{
    <div class="topic-container">
      @for (topic of this.userSubscribedTopicsArray; track topic.id) {
        <div class="column">
          <app-topics-container [id]="topic.id"
                                [title]="topic.title"
                                [description]="topic.description"
                                [isAlreadySubscribed]="false"
                                [isSubscribeCase] = false
                                (topicContainerEvent)="unsubscribeFromTopic($event)">
          </app-topics-container>
        </div>
      }
    </div>
  }
</div>
