.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  width: 100%;
  padding-top: 20px;
}

.form-class {
  width: 100%;
}

.form-group {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.form-group input {
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.error-validation{
  color: red;
  width: 250px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.horizontal-line {
  width: 100%;
  border-bottom: 1px solid black;
}

.subscription-label {
  margin-top: 15px;
}

.topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start of the main axis */
  max-width: 800px;
  width: 100%; /* Ensure the container takes full width */
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.column {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%; /* Set width for two columns layout */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.logout{
  margin-top: 15px;
  margin-bottom: 10px;
}

.logout a {
  color: red;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.logout a:hover {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* At least as tall as the viewport */
    width: 100%; /* Full width */
    padding-top: 40px; /* Remove any padding */
    margin: 0 auto; /* Center the container itself */
  }

  .topic-container {
    width: 100%; /* Full width for mobile */
    max-width: 100%; /* Override the max-width for mobile */
    overflow-y: auto; /* Keep overflow as auto */
  }

  .column {
    width: 100%; /* Full width for mobile */
    margin: 0 auto; /* Center the column */
    display: flex; /* Enable flexbox for column */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
}

