<a [routerLink]="['../']" class="back-arrow">←</a>
<div class="wrapper-content">
  @if(hasError) {
    <h2 class="error">There was an error loading post data!</h2>
  }
  @else{
    <div class="post-detail-box">
      <h3>{{postData?.title}}</h3>
      <p>
        <span class="post-info">{{postData?.createdAt}}</span>
        <span class="post-info">Author:  {{postData?.author}}</span>
        <span class="post-info">Topic:  {{postData?.topicName}}</span>
      </p>
      <div class="scrollable-post-description-paragraph">
        <p>{{postData?.description}}</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="comments-section">
      <post-comments-container [comments]="commentsArray"></post-comments-container>
    </div>
    <div class="publish-comment">
      <post-comment-submitter (addCommentEvent)="saveComment($event)"></post-comment-submitter>
    </div>
  }
</div>

