.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers content vertically */
  width: 800px; /* Adjust the max-width as needed */
  margin: auto; /* Centers the wrapper horizontally */
  padding-top: 40px;
}

.post-detail-box {
  border-radius: 5px;
  justify-content: center;
  width: 800px; /* Adjust the max-width as needed */
  height: 300px;
}
.post-detail-box h3 {
  color: #333;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}
.post-detail-box p {
  color: #666;
  text-align: left;
  padding-left: 10px;
}
.post-info {
  margin-right: 20px;
}
.scrollable-post-description-paragraph {
  height: 200px;
  overflow-y: auto; /* This will add a vertical scrollbar if the content overflows */
  text-align: left;
}
.comments-box{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: left;
  height: 400px;
  max-height: 600px;
}
.comment-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: left;
  border-radius: 5px;
  height: 400px;
  max-height: 600px;
  padding-top: 20px;
  padding-left: 50px;
  width: 550px;
  margin-bottom: 20px;
}
.username-label {
  margin-right: 10px; /* Space between the username label and the text container */
  margin-bottom: 20px;
}
.comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between comments */
  border-radius: 5px;
}
.comment-text-container{
  background: lightgrey;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: left;
  margin-left: 40px;
  width: 400px;
}
.comment-non-available {
  text-align: left;
  margin: 10px;
}
.comment-submit-container {
  display: flex;
  align-items: flex-end; /* Aligns items to the start of the container */
  justify-content: space-between;
  width: 600px;
}
.give-comment-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #FFF;
  width: 530px;
  margin-top: 20px;
}

.give-comment-box textarea {
  width: 100%;
  height: 75px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #ccc;
  resize: none;
}

.give-comment-box textarea::placeholder {
  font-size: 16px;
  vertical-align: top;
}

.char-count {
  text-align: left;
  margin-top: 5px;
  max-width: 500px;
}

.image-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.error{
  color: red;
}


