.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; /* Centers content vertically */
  width: 800px; /* Adjust the max-width as needed */
  margin: auto; /* Centers the wrapper horizontally */
  padding-top: 40px;
  max-height: 100vh;
}
.post-detail-box {
  border-radius: 5px;
  justify-content: center;
  width: 100%; /* Adjust the max-width as needed */
  height: 150px;
  text-align: left;
}
.post-detail-box h3 {
  color: #333;
  font-weight: bold;
}
.post-detail-box p {
  color: #666;
}
.post-info {
  margin-right: 20px;
}
.scrollable-post-description-paragraph {
  height: auto;
  max-height: 100px;
  overflow-y: auto; /* This will add a vertical scrollbar if the content overflows */
  text-align: left;
}
.error{
  color: red;
}
.back-arrow {
  font-size: 48px;
  text-decoration: none;
  color: inherit;
  padding-left: 40px;
}
.horizontal-line {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.comments-section {
  width: 100%; /* Match the width of the post-detail-box */
  text-align: left; /* Align text to the left */
  padding-top: 30px;
  height: 500px;
  max-height: 500px;
  overflow-y: auto; /* Allows scrolling within the comments section */
  flex-grow: 1; /* Allows the section to grow and fill available space */
}
.publish-comment {
  margin-top: auto;
  width: 600px;
}

@media (max-width: 768px) {
  .wrapper-content {
    width: 100%;
  }
  .post-detail-box {
    width: 100%;
  }
  .post-detail-box h3 {
    width: 270px;
    padding-left: 20px;
  }
  .post-detail-box p {
    padding-left: 20px;
  }
  .scrollable-post-description-paragraph {
    height: 60px;
  }
  .comments-section {
    height: 350px;
    max-height: 350px;
    width: 350px;
    padding-left: 20px;
  }
  .publish-comment {
    width: 350px;
    padding-left: 20px;
  }
}


